[submodule "ikarus"]
	path = Ninja/Toolkit/Ikarus
	url = https://github.com/Lehona/Ikarus
	branch = gameversions
[submodule "lego"]
	path = Ninja/Toolkit/LeGo
	url = https://github.com/szapp/NinjaLeGo
	branch = ninja
