[BEGINVDF]
Comment=Modified versions of the latest Ikarus and LeGo.%%NThese scripts are not loaded by default - only if a patch needs them.%%N%%N===       DO NOT USE THESE SCRIPTS       ===%%N=== They are specifically tailored to Ninja ===
BaseDir=.\
VDFName=.\iklg.data

[FILES]
Ninja\Toolkit\Ikarus\* -r
Ninja\Toolkit\LeGo\*
Ninja\Toolkit\Ikarus_*.d
Ninja\Toolkit\Ikarus_*.src

[EXCLUDE]
.git -r
.github -r
.gitignore -r
*.md
*.vm
*.vdf
build.ps1
iklg.data
outpath.txt

[INCLUDE]

[ENDVDF]
