[BEGINVDF]
Comment=Modified versions of the latest Ikarus and LeGo.%%NThese scripts are not loaded by default - only if a patch needs them.%%N%%N===       DO NOT USE THESE SCRIPTS       ===%%N=== They are specifically tailored to Ninja ===
BaseDir=.\
VDFName=.\iklg.data

[FILES]
Ninja\_intern\Ikarus\* -r
Ninja\_intern\LeGo\*

[EXCLUDE]
_work\Data\Scripts\* -r
*.vm
*.vdf
*.bat
.gitignore
build.ps1
iklg.data
outpath.txt

[INCLUDE]

[ENDVDF]
