[BEGINVDF]
Comment=Modified versions of the latest Ikarus and LeGo.%%NThese scripts are not loaded by default - only if a patch needs them.%%N%%N===       DO NOT USE THESE SCRIPTS       ===%%N=== They are specifically tailored to Ninja ===
BaseDir=.\
VDFName=.\iklg.data

[FILES]
Ninja\_intern\Ikarus\* -r
Ninja\_intern\LeGo\*
Ninja\_intern\Ikarus_*.d
Ninja\_intern\Ikarus_*.src

[EXCLUDE]
.github\* -r
.gitignore
*.vm
*.vdf
build.ps1
iklg.data
outpath.txt
README.md

[INCLUDE]

[ENDVDF]
